h1 {
	background: url("/static/test_images/AVOXdatawordmark_ii.gif") top left no-repeat;
	height: 159px;
	background-position: center left;
}

#searchlogo {
	background: url("/static/test_images/search_MAD.gif") top right no-repeat;
	height: 44px;
}

#aboutlogo {
	background: url("/static/test_images/about_MAD.gif") top right no-repeat;
	height: 44px;
}

#request #leftpanel textarea {
	height: 100px;
}

#registerform .subfield {
	font-size: 0.75em;
	float: left;
	margin-right: 5px;
}

#registerform .small {
	width: 20px;
	margin: 0;
}

.api_search_results {
	height: 200px;
	overflow-y: scroll;
}

#ribbon {
	position:absolute;
	left:0px;
	top:0px;
	z-index:4;
	height:130px;
	width:130px;
	background:url("/static/test_images/corner_banner_for_IRD.gif") top left no-repeat;
	/*background:url("/static/test_images/systems_city.gif") top left no-repeat;*/
	border: 0;
}