
body {
	font-family: 'Ubuntu', arial, serif;
	color: #767676;
}

h2 {
	color: #3c3c3c;
	font-size: 1.8em;
	line-height: 1.8em;
	border-bottom: 1px solid #D4D4D4;
}

button {
	cursor: pointer;
}

input[type=checkbox], input[type=submit] {
	cursor: pointer;
}

.jbasewrap {
	margin-bottom: 30px;
	line-height: 1.5em;
}

.lightbg {
	background-color: #F0F0F0;
}

.container {
	position: relative;
}

.nomargin {
	margin: 0;
}

a {
	text-decoration: none;
	color: #2956A7;
}

a:hover {
	border-bottom: 1px dotted silver;
	color: #8facff;
}


/*=================================== Header Bar */

#header a {
	border-bottom: none;
}

#header {
	height: 60px;	
	background-color: #464646;
	background-image: -moz-linear-gradient(top, #464646, #3c3c3c); 
	background-image: -o-linear-gradient(top, #464646, #3c3c3c); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #464646),color-stop(1, #3c3c3c)); 
	background-image: -webkit-linear-gradient(#464646, #3c3c3c); 
	background-image: linear-gradient(top, #464646, #3c3c3c);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#464646', EndColorStr='#3c3c3c'); 
	border-bottom: 1px solid #c5c5c5;
}

#header ul {
	overflow: auto;
	margin: 0px;
}

#header ul li {
	list-style: none;
	overflow: auto;
	display: inline;
}

#header ul li a {
	padding: 10px 20px 0px 10px;
	height: 50px;
	border-left: 1px solid #787878;
	float: left;	
	display: block;
	position: relative;	
	text-decoration: none;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
}

#header ul li a:hover {
	background-color: #191919;
}

#header ul li h2 {
	display: inline;
}

#header ul li a span {
	display: block;
	margin-top: 5px;
	left: 10px;
	font-size: 0.9em;
	font-weight: normal;
}

#header h1 {
	background-color: /* #2956A7 */ #3c3c3c;
    color: white;
    float: left;
    font-size: 1.6em;
    height: 45px;
    margin: 0;
    padding: 15px 20px 0;
    text-transform: uppercase;
    text-indent: -9999px;
    background-image: url(../images/avoxlogotype-grey.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 150px;
}

#header .subnav {
	color: white;
	margin-top:  10px;
}

#header .subnav a {
	color: white;
	text-decoration: none;
}

#header .subnav a:hover {
	text-decoration: underline;
}

#fruitmachine {
	background-color: #2a2a2a;
	color: white;
	width: 340px;
	height: 20px;
	position: absolute;
	right: 180px;
	top:40px;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 0 5px 8px;
	font-size: 1.1em;
}

#fruitmachine span {
	position: relative;
	top: -6px;
	padding: 0 2px;
	letter-spacing: 0.04em;
}

#fruitmachine img {
	height: 20px;
}

/*=================================== Content */

#content {
	margin-top: 30px;
	background-color: white;
}

.js .help {
	width: 14px;
	height: 14px;
	display: block;
	background-color: #fff8e6;
	border: 1px solid #d5d5d5;	
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px; 
	border-radius: 2px; 	
	-moz-box-shadow: 1px 1px 2px #ccc; 
	-webkit-box-shadow: 1px 1px 2px #ccc; 
	box-shadow: 1px 1px 2px #ccc; 
	background-image: url(../images/qn.gif);
	background-repeat: no-repeat;
	background-position: center center;
	margin: 2px 0px 0px 5px;
}


.js .help:hover {
	background-color: white;
	cursor: pointer;
}
.js .help:hover span.helpText, 
.js #searchBox .help:hover span.heading, 
.js #searchBox .help:hover span.helpText, 
.js .help:hover span.heading {
	visibility: visible;
}
.js #searchBox .help span.helpText, 
.js .help span.helpText {
	visibility: hidden;
	display: block;
	position: absolute;
	margin-left: 23px;
	background-color: #ebf1ff;
	width: 118px;
	padding: 25px 10px 10px;
	border: 1px solid #ccc;
	z-index: 12;
	font-size: 0.75em;
	line-height: 1.4em;
	text-align: left;
	
	-moz-box-shadow: 1px 1px 3px #333; 
	-webkit-box-shadow: 1px 1px 3px #333; 
	box-shadow: 1px 1px 3px #333; 
	
	border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
}

.js #searchBox .help span.heading, .js .help span.heading {
	visibility: hidden; 
	background: #767676;
	color: white;
	text-align: left;
	z-index: 13;
	position: absolute;
	width: 136px;
	height: 20px; 
	padding: 0px 10px 0px 0px;
	font-size: 0.8em;
	margin: -2px 0px 0px 22px;
	text-shadow: 1px 1px 1px #333333;
	filter: dropshadow(color=#333333, offx=1, offy=1);
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-top-right-left: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 3px;
	
	-moz-box-shadow: 1px 1px 1px #333; 
	-webkit-box-shadow: 1px 1px 1px #333; 
	box-shadow: 1px 1px 1px #333; 
}

.js #searchBox .help span.heading span, .js .help span.heading span {
	width: 0;
	position: relative;
	left: -10px;
	font-size: 0px; line-height: 0%;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #767676;
}

/*=================================== Content Pages */


.pageLinks {
	position: fixed;
	border-bottom: 10px solid #d5d5d5;
	padding-bottom: 20px;
}

.pageLinks.notFixed {
	position: static;
}

.pageLinks ul, .pageLinks ul li {
	list-style: none;
	margin: 0px;
}

.pageLinks ul li {
	margin-top: 10px;

}

.pageLinks ul a:hover { 
	border-bottom: none;
	background-color: #333;
}

.pageLinks ul li a:hover span {
	border-left-color: #333;
} 

.pageLinks ul a {
	background-color: #767676;
	color: white;
	padding: 3px 0px 0px 10px;
	height: 17px;
	line-height: 12px;;
	display: inline-block;
	font-size: 0.8em;
	font-weight: bold;
	letter-spacing: 0.06em;	
	text-shadow: 1px 1px 1px #333333;
	filter: dropshadow(color=#333333, offx=1, offy=1);

	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 3px;
}

.pageLinks ul li span {
	width: 0;
	font-size: 0px; line-height: 0%;
	border-top: 10px solid #fff;
	border-left: 10px solid #767676;
	border-bottom: 10px solid #fff;
	position: relative;
	top: -3px;
	left: 10px;

}



.pageContent {
	overflow: hidden;
	border-bottom: 10px solid #d5d5d5;
	margin-bottom: 20px;
}

.pageContent h3 {
	color: #3c3c3c;
	font-size: 1.3em;
	border-bottom: 1px solid silver;
    color: #3C3C3C;
    font-size: 1.3em;
    margin-top: 14px;
    padding-bottom: 8px;
}

.pageContent p {
	font-size: 0.85em;
	line-height: 1.6em;
	
}

.twoColumn {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
}

/*=================================== Search box */

#searchBox {
	padding: 10px 10px 10px 0px;
	float: right;
	margin-top: 44px;
	width: 610px;
}

#searchBox.homepage {
	margin-top: 20px;
	margin-bottom: 40px;
}

#searchBox div.help {
	margin-left: 10px;
}

#searchBox label, #searchBox span {
	text-align: right;
	display: block;
}

#searchBox * {
	float: left;
}

#searchBox #query, #searchBox #branches, #searchBox #advancedSearchContainer input {
	border: 1px solid #D5D5D5;
	margin: 3px 0 10px 5px;
}

#searchBox label.small {
	font-size: 75%;
	line-height: 1em;
	margin: 0;
	padding: 0;
}

#searchBox button {
	border: none;
	background-color: #797979;
	color: #FFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 22px;
	width: 22px;
	font-size: 1.1em;
	padding-bottom: 3px;
}

#searchBox button:hover {
	background-color: #3c3c3c;
}

#submitButton, #searchBox #submitButton {
	width: 120px;
	background-color: #FF6E42;
	color: #FFF;
	text-shadow: 1px 1px 1px #333333;
	filter: dropshadow(color=#333333, offx=1, offy=1);
	border: none;
	height: 20px;
	padding-bottom: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 3px;
	float: right;
	border: none;
	margin-top: 15px;
}

#testBorder {
	width: 0;
	font-size: 0px; line-height: 0%;
	border-top: 10px solid #F0F0F0;
	border-left: 10px solid #FF6E42;
	border-bottom: 10px solid #F0F0F0;
	float: right;
	clear: both;
	margin-right: 0;
	margin-top: 15px;
}

#recordForm #testBorder, .requestInformation #testBorder {
	border-bottom-color: #FFF;
	border-top-color: #FFF;
}

.requestInformation #submitButton {
	font-weight: bold;
	font-size: 0.8em;
	text-align: left;
	padding-left: 10px;
}

#searchBox #advancedSearchContainer {
	width: 460px;
	margin: 10px 0px 5px;
}

#searchBox .advSearchLine {
	position: relative;
	width: 460px;
	height: 29px;
	margin-top: 6px;
}

#searchBox .advSearchLineField {
	position: absolute;
	right: 220px;
	width: 160px;
	margin-right: 20px;
	
}

#searchBox .advSearchLineValue {
	position: absolute;
	right: -8px;
	top: -3px;
	width: 190px;	
}

#searchBox #advancedSearchContainer button {
	position: absolute;
	right: 198px;
}

#searchBox input, #searchBox select {
	border: 1px solid #D5D5D5;
	padding: 3px;
}


/*=================================== Register an Entity Forms */

.formSet {
	padding: 10px;
	font-size: 0.8em;

}

.formSet input, .formSet select {
	border: 1px solid #D5D5D5;
	padding: 3px;
	width: 240px;
	margin-bottom: 10px;
}

.formSet select {
	width: 247px;
}

.formSet label {
	display: block;
}

.formSet textarea { /* used on the challenge page */
	width: 98%;
	border: 1px solid #D5D5D5;
	padding: 2px;
}

.formSet .help {
	font-size: 1.2em;
	float: right;
}

.formSet.grid8col {
	width: 600px;
}

.formSet.grid4col {
	width: 280px;
}

.formSet.grid8col .grid4col {
	width: 280px;
}

.js #toOverflow, #tableoverflow {
	visibility: hidden;
}

/*=================================== Results Table */

.tableinfo {
	font-size: 0.8em;
	margin: 10px 0px;
}
.tableinfo.top {
	padding-top: 30px;
	clear: both;
}
.tableinfo a.left, 
.tableinfo a.right, 
#resultsTable a.pointed {
	background-color: #767676;
	color: white;
	padding: 0px 10px;
	height: 16px;
	line-height: 1.2em;
	width: 40px;
}

.tableinfo a.left:hover, 
.tableinfo a.right:hover, 
#resultsTable a.pointed:hover {
	background-color: #3c3c3c;
	border-bottom: none;
}

.tableinfo a.right:hover span, 
#resultsTable a.pointed:hover span {
	border-left-color: #3c3c3c;
}

.tableinfo a.left:hover span {
	border-right-color: #3c3c3c;
}

.tableinfo a.left {
	padding-left: 0px;
	margin-right: 20px;
	text-align: right;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-top-right-left: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 3px;
}

.tableinfo a.right, 
#resultsTable a.pointed {
	padding-right: 0px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 3px;
}

.tableinfo a.right span, 
#resultsTable a.pointed span {
	width: 0;
	font-size: 0px; line-height: 0%;
	border-top: 8px solid #fff;
	border-left: 8px solid #767676;
	border-bottom: 8px solid #fff;
	float: right;
}

#resultsTable .even a.pointed span {
	border-top: 8px solid #f0f0f0;
	border-bottom: 8px solid #f0f0f0;	
}

.tableinfo a.left span {
	width: 0;
	font-size: 0px; line-height: 0%;
	border-top: 8px solid #fff;
	border-bottom: 8px solid #fff;
	border-right: 8px solid #767676;
	float: left;
}

#pageDistance {
	display: none;
}

#columnPicker {
	margin-right: 10px;
}

#columnPicker button {
	background-color: #767676;	
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px; 
	height: 16px;
	color: white;
	border: none;
	padding-bottom: 2px;
	width: 140px;
	
	-moz-box-shadow: 1px 1px 3px #ccc; 
	-webkit-box-shadow: 1px 1px 3px #ccc; 
	box-shadow: 1px 1px 3px #ccc; 
}

#columnPicker button:hover {
	background-color: #3c3c3c;
}

#columnPicker .columns {
	visibility: hidden;
	position: absolute;
	background-color: #ebf1ff;
	width: 118px;
	padding: 10px;
	text-align: right;
	border: 1px solid #ccc;
	z-index: 10;
	font-size: 0.88em;
	
	-moz-box-shadow: 1px 1px 3px #333; 
	-webkit-box-shadow: 1px 1px 3px #333; 
	box-shadow: 1px 1px 3px #333; 
	
	border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;	
}

#columnPicker:hover .columns {
	visibility: visible;
}

#columnPicker .columns span.controls {
	display: block;
}


table#resultsTable, table#resultsTable_Cloned {
	font-size: 0.8em;
	line-height: 1.2em;
	width: 940px;
	border-bottom: 1px solid #3c3c3c;
	margin-bottom: 5px;
}

table#resultsTable thead tr, table#resultsTable_Cloned thead tr {
	background-color: #3c3c3c;
	color: white;
}

table#resultsTable thead tr th, table#resultsTable_Cloned thead tr th {
	background-image: url(../images/table-header-arrow.gif);
	background-repeat: no-repeat;
	background-position: 6px 5px;
	padding: 5px 5px 5px 15px;
}

th.sorting_asc, th.sorting_desc, th.sorting {
	cursor: pointer;
}

table#resultsTable thead tr th.sorting_asc, table#resultsTable_Cloned thead tr th.sorting_asc {
	background-image: url(../images/table-header-arrow-up.gif);
}

table#resultsTable thead tr th.sorting_desc, table#resultsTable_Cloned thead tr th.sorting_desc {
	background-image: url(../images/table-header-arrow-down.gif);
}

table#resultsTable thead tr th.noOrder, table#resultsTable_Cloned thead tr th.noOrder {
	background-image:none;
}

table#resultsTable tr td {
	padding: 5px;
}	

table#resultsTable tr td.entityName {
	font-size: 1.1em;
	line-height: 1.3em;
	width: 140px
}

table#resultsTable tr.even {
	background-color: #f0f0f0;
}

#resultsTable a.pointed {
	float: right;
	width: 25px;
	padding-left: 5px;
	line-height: 1.3em;
	position: relative;
	top: 7px;
}

/*=================================== Company Record Tables */

table.companyRecord {
	font-size: 0.85em;
}

.companyRecord .borderbottom, .requestInformation .borderbottom {
	border-bottom: 1px solid #d5d5d5;
	margin-bottom: 20px;
}

table.companyRecord td {
	/* border-bottom: 1px solid #d5d5d5; */
	color: #3c3c3c;
	width: 170px;
	padding: 5px 0px;
}

table.companyRecord {
	/*border-top: 1px solid #d5d5d5;
	border-bottom: 4px solid #d5d5d5; */
}

table.companyRecord td.field {
	color: #767676;
    font-size: 0.8em;
    letter-spacing: 0.03em;
    padding-right: 10px;
    text-transform: uppercase;
    width: 120px;
}

.pageContent.companyRecord h5, .pageContent.requestInformation h5 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 5px;
}

a.viewmap {
	text-transform: none;

}

table.companyRecord input {
	border: 1px solid #D5D5D5;
	padding: 2px;
	width: 164px;

}

table.companyRecord tr.current {
	background-color: #d5d5d5;
}
table.companyRecord tr.current td.field {
	padding-left: 5px;
}

/*=================================== Request Info Pages */

.pageContent.requestInformation ul {
	font-size: 0.8em;
}



/*=================================== Footer Bar */

.footer {	
	background-color: #767676;
	background-image: -moz-linear-gradient(top, #767676, #3c3c3c); 
	background-image: -o-linear-gradient(top, #767676, #3c3c3c); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #767676),color-stop(1, #3c3c3c)); 
	background-image: -webkit-linear-gradient(#767676, #3c3c3c); 
	background-image: linear-gradient(top, #767676, #3c3c3c);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#767676', EndColorStr='#3c3c3c'); 
	color: white;
	font-size: 0.8em;
	overflow: auto;
}

.footer a {
	color: white;
}

.footer h4 {
	border-bottom: 1px white solid;
	padding-bottom: 7px;
}

.footer ul {
	
}



