
.leftpanelhead h2 {
	font-size: 2em;
	line-height: 35px;
	text-transform: uppercase;
	font-weight: bold;
}
.rightpanelhead h2 {
	font-size: 1.6em;	
	line-height: 35px;
	text-transform: uppercase;
	font-weight: bold;
}


.leftpanel {
	width: 420px;
	padding: 15px;
	/*line-height: 2.5em;*/
}

.leftpanelhead .leftpanel h3 {
	font-weight:bold;
	font-size: 1em;
	letter-spacing:0.05em;
	text-transform:uppercase;
	border-bottom:2px solid #7AAEB9;
	margin: 0px 77px 12px 0;
	padding: 0 0 2px 0;	
	line-height: 1.4em;
	
}

.leftpanel td {
	width: 50%;
	vertical-align:top;
}

table.fields {
	width: 100%;
}

.leftpanel input, #rightpanel input, .panel input {
	width: 200px;
	height: 21px;
	font-size: 1em;
	}

.js #personal_info {
	visibility: hidden;
}

#rightpanel label, .panel label {
	display: block;
	}
#rightpanel select, .panel select {
	width: 258px;
	padding: 5px 0;
	}
	
	
.leftpanel select {
	padding: 5px 0;
	
	}

#tableoverflow {
	visibility: hidden;
}

#rightpanel {
	width: 318px;
}

#rightpanel, .panel {
	padding: 15px;
	line-height: 2em;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8em;
}

#rightpanel span, .panel span {
	font-style: italic;
	font-weight: normal;
	text-transform: lowercase;
	}

#rightpanel .lightpanel, .panel .lightpanel {
	text-transform: none;
	padding: 10px;
	background-color: #fff;
}

#rightpanel .lightpanel .thick, .panel .lightpanel .thick {
	font-weight: bold;
	margin-left: 5px;
}

.rightpanelhead {
	width: 350px;
}
.leftpanelhead {
	/*width: 100%;*/
}

.submitButton {
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	padding: 8px;
	cursor: pointer;
	overflow: visible;
	height: 3em;
	margin-bottom: 5px;
}

select#smallselect {
	width: 208px;
}

label.error {
	display: block;
	color: #f00;
}

.stripe {
background-color: #0F242B;
font-style: italic;
padding: 8px 10px;
border: 1px solid white;
}

.noleftborder {
border-left: none;
}

#leftbit {
background-color: #0F242B;
position: absolute;
top: 35px;
left: 0;
width: 30%;
height: 2em;
/*z-index:1;*/
border-top: 1px solid white;
border-bottom: 1px solid white;
}

#content-suggest #leftbit {
	height: 2em;
}

#content-challenge, #content-suggest, #content-request {
	/*width: 100%; could add in to add the left stripe on IE6, but this introduces line-height problems */
	position: relative;
	}