<!-- don't use -->
{% extends "wikidatabase.html" %}
{% block body %}
{% set fields = commonVars.fields %}
<script type="text/javascript">
	window.asyncSearch = true;
</script>
{% set fields = commonVars.fields %}
<div class="grid12col container">
	<div class="grid4col marginright left">
		<h2>Your Search Results</h2>
		<p class="nomargin">Use the form on the right to refine your results further or make a new search.</p>
	</div>
	{% include 'search.html' %}
</div>
{% set count = 0 %}
{% set queryIndex = 0 %}
{% set resultcount = 0 %}
{% include 'search_results_bar.html' %}
<table id="resultsTable" class="draggable forget-ordering">
	<thead>
		<tr>
		{% for field, label, tooltip in fields %}
			<th title="{{tooltip}}">{{label}}</th>
		{% endfor %}
			<th class="noOrder" title="Challenge this record">Challenge Record</th>
			<th class="noOrder" title="Request more fields for this record">Request Analysis</th>
		</tr>
	</thead>
	<tbody>
	{% for tiddler in tiddlers %}
		<tr>
		</tr>
	{% endfor %}
	</tbody>
</table>
<div class="tableinfo grid12col">
	<a href="#" class="left pagebutton">prev<span></span></a>
	<a href="#" class="right pagebutton">next<span></span></a>
</div>
{% endblock %}