{% extends "wikidatabase.html" %}
{% block body %}
{% set name_fields = [
('legal_name', 'Legal Name'),
('previous_name_s_', 'Previous Name(s)'),
('trades_as_name_s_', 'Trades As Name(s)')
] %}
{% set entity_fields = [
('trading_status', 'Trading Status'),
('company_website', 'Company Website')
] %}
{% set operational_fields = [
('operational_po_box', 'Operational PO Box'),
('operational_floor', 'Operational Floor'),
('operational_building', 'Operational Building'),
('operational_street_1', 'Operational Street 1'),
('operational_street_2', 'Operational Street 2'),
('operational_street_3', 'Operational Street 3'),
('operational_city', 'Operational City'),
('operational_state', 'Operational State'),
('operational_country', 'Operational Country'),
('operational_postcode', 'Operational Postcode')
] %}
{% set registered_fields = [
('registered_country', 'Registered Country')
] %}
{% set captcha = commonVars.captcha %}
<div id="pagenav">		
	<ul>
		<li><a href="/index.html" class="lightborder darkgreen caps">Home</a></li>
		<li><a href="#" class="onlyjs lightborder darkgreen caps" id="backnav">Back</a></li>
	</ul>
</div>

<div id="content-challenge">
	{% if commonVars.query['success'] and commonVars.query['success'][0] == '1' %}
	<div class="wrap">
		<p>Thanks! We'll be in touch shortly.</p>
	</div>
	{% else %}
	<div id="leftbit" class="padded"></div>
	<div class="wrap relative z1">
		<form method="post" action="/verify" id="recordForm">
			<div class="left leftpanelhead wrap">
				<h2>Challenge Information</h2>
				<div class="stripe noleftborder">
					<p>Please correct any details you would like to challenge for AVID {{tiddler.title}}</p>
				</div>
				<div class="left lightbluebox lightblueborder leftpanel">
					<div>
						<label for="source">(Optional) What is your source for this? Please include URL and/or sources used. We will use this to validate your challenge.</label>
						<textarea cols="35" rows="5" name="source" class="fullwidth"></textarea>
					</div>
					<h3>Entity Name</h3>
					<table class="fields">
						<tbody>
							{% for field, label in name_fields %}
							<tr>
								<td>
									<label for="challenge_{{field}}">{{label}}</label>
								</td>
								<td>
									<input type="text" size="35" name="challenge_{{field}}" />
									<div class="existing">
										<span>{{tiddler.fields[field]}}</span>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<h3>Entity Information</h3>
					<table class="fields">
						<tbody>
							{% for field, label in entity_fields %}
							<tr>
								<td>
									<label for="challenge_{{field}}">{{label}}</label>
								</td>
								<td>
									<input type="text" size="35" name="challenge_{{field}}" />
									<div class="existing">
										<span>{{tiddler.fields[field]}}</span>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<h3>Operational Address</h3>
					<table class="fields">
						<tbody>
							{% for field, label in operational_fields %}
							<tr>
								<td>
									<label for="challenge_{{field}}">{{label}}</label>
								</td>
								<td>
									<input type="text" size="35" name="challenge_{{field}}" />
									<div class="existing">
										{% if field in ['operational_country', 'operational_state', 'registered_country', 'registered_state'] -%}
										<span class="{{field}}">
										{%- else -%}
										<span>
										{%- endif -%}
										{{tiddler.fields[field]}}</span>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<h3>Registered Location</h3>
					<table class="fields">
						<tbody>
							{% for field, label in registered_fields %}
							<tr>
								<td>
									<label for="challenge_{{field}}">{{label}}</label>
								</td>
								<td>
									<input type="text" size="35" name="challenge_{{field}}" />
									<div class="existing">
										{% if field in ['operational_country', 'operational_state', 'registered_country', 'registered_state'] -%}
										<span class="{{field}}">
										{%- else -%}
										<span>
										{%- endif -%}
										{{tiddler.fields[field]}}</span>
									</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="right lightbluebox lightblueborder leftpanel" id="tableoverflow"></div>
				<div>
					<input type="hidden" name="requestType" value="challenge" />
					<input type="hidden" name="avid" value="{{tiddler.title}}" />
					<input type="hidden" name="legal_name" value="{{tiddler.fields.legal_name}}" />
					<input id='submitButton' class="right submitButton darkgreen lightborder whitetext caps margintop" type="submit" value="Submit challenge"/>
				</div>
			</div>
			{% include 'personal_info.html' %}
		</form>
	</div>
	<br class="clearboth" />
	{% endif %}
</div>
{% endblock %}
