{% extends "wikidatabase.html" %}
{% block body %}
{% set tooltips = commonVars.tooltips %}
{% set name_fields = [
('legal_name', 'Legal Name'),
('previous_name_s_', 'Previous Name(s)'),
('trades_as_name_s_', 'Trades As Name(s)')
] %}
{% set entity_fields = [
('trading_status', 'Trading Status'),
('company_website', 'Company Website'),
('registered_country', 'Country of Incorporation')
] %}
{% set operational_fields = [
('operational_po_box', 'Operational PO Box'),
('operational_floor', 'Operational Floor'),
('operational_building', 'Operational Building'),
('operational_street_1', 'Operational Street'),
('operational_street_2', 'Operational Street 2'),
('operational_street_3', 'Operational Street 3'),
('operational_city', 'Operational City'),
('operational_state', 'Operational State'),
('operational_country', 'Operational Country'),
('operational_postcode', 'Operational Postcode')
] %}
{% set captcha = commonVars.captcha %}
{% set query = commonVars.query %}
<div class="grid12col container">
	{% if commonVars.query['success'] and commonVars.query['success'][0] == '1' %}
	<p>Thank you for providing new information for {{tiddler.fields['legal_name']}}. Avox will review the information and confirm any changes that are subsequently saved to the Avox record. The confirmation will be sent to your email address.</p>
	<p>Please <a href="/bags/avox/tiddlers/{{tiddler.title}}">click here</a> to return to the Company record for {{tiddler.fields['legal_name']}}.</p>
	{% else %}
	<form method="post" action="/verify" id="recordForm" class="challengeForm">
		<div class="grid4col marginright left">
			<div class="pageLinks notFixed">
				<h2>Challenge Information</h2>
				<p class="nomargin">Please correct any details you would like to challenge for AVID {{tiddler.title}}.</p>		
			</div>
			<div class="lightbg formSet margintop">
				<h5>Source (optional)</h5>
				<div>
					<p>What is your source for this challenge? Please include URL and/or sources used. We will use this to validate your challenge.</p>
					<textarea rows="5" name="source" class="margintopsmall"></textarea>
				</div>
			</div>
			<div>
				<a id="searchButton">
					<span id="testBorder"></span><input id="submitButton" value="Submit Challenge" type="submit" />
				</a>
			</div>
		</div>
		<div class="grid8col right pageContent companyRecord">
			<h3>{{tiddler.fields['legal_name']}}</h3>
			<div class="grid4col left" id="toOverflow">
				<div class="borderbottom">
					<h5>Entity Name</h5>
					<table class="companyRecord">
						<tbody>
							{% for field, label in name_fields %}
							<tr>
								<td class="field"><label for="{{field}}">{{label}}</label></td>
								<td><input class="reduced" type="text" name="{{field}}" id="{{field}}" value="{{tiddler.fields[field]}}" />
								<a class="help">
									<span class="heading"><span class="point"></span><span class="text">{{label}}</span></span>
									<span class="helpText">{{ tooltips[field] }}</span>
								</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="borderbottom">
					<h5>Entity Information</h5>
					<table class="companyRecord">
						<tbody>
						{% for field, label in entity_fields %}
							<tr>
								<td class="field"><label for="{{field}}">{{label}}</label></td>
								<td>
								{%- if field in ['trading_status', 'registered_country'] -%}
								<input class="reduced" type="text" name="{{field}}" id="{{field}}" />
								<a class="help">
									<span class="heading"><span class="point"></span><span class="text">{{label}}</span></span>
									<span class="helpText">{{ tooltips[field] }}</span>
								</a>
								{%- else -%}
								<input type="text" name="{{field}}" id="{{field}}" />
								{%- endif -%}
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="borderbottom">
					<h5>Location Information</h5>
					<table class="companyRecord">
						<tbody>
						{% for field, label in operational_fields %}
							<tr>
								<td class="field"><label for="{{field}}">{{label}}</label></td>
								<td {%- if field in ['operational_country', 'operational_state', 'registered_country', 'registered_state'] %} class="{{field}}" {%- endif -%} >
								{%- if field in ['operational_state'] -%}
								<input class="reduced" type="text" name="{{field}}" id="{{field}}" value="{{tiddler.fields[field]}}" />
								<a class="help">
									<span class="heading"><span class="point"></span><span class="text">{{label}}</span></span>
									<span class="helpText">{{ tooltips[field] }}</span>
								</a>
								{%- else -%}
								<input type="text" name="{{field}}" id="{{field}}" value="{{tiddler.fields[field]}}" />
								{%- endif -%}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="borderbottom">
					<h5>Hierarchy Information</h5>
					<table class="companyRecord">
						<tbody>
							<tr>
								<td class="field"><label for="entity_type">Entity Type:</label></td>
								<td><input class="reduced" type="text" name="entity_type" id="entity_type" value="{{tiddler.fields['entity_type']}}" />
								<a class="help">
									<span class="heading"><span class="point"></span><span class="text">Entity Type</span></span>
									<span class="helpText">{{ tooltips.entity_type }}</span>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<input type="hidden" name="requestType" value="challenge" />
				<input type="hidden" name="avid" value="{{tiddler.title}}" />
				<input type="hidden" name="original_legal_name" value="{{tiddler.fields.legal_name}}" />
			</div>
			<div class="grid4col left marginleft" id="tableoverflow">
			</div>
		</div>
		{% include 'personal_info.html' %}
	</form>
	{% endif %}
</div>
{% endblock %}
