{% extends "wikidatabase.html" %}
{% block body %}
{% set fields = commonVars.fields %}
<div id="pagenav">
	<ul>
		<li><a href="/index.html" class="lightborder darkgreen caps">Home</a></li>
		<li><a href="#" class="lightborder darkgreen caps onlyjs" id="backnav">Back</a></li>
	</ul>
</div>

<div id="searchtitle" class="darkgreen">
	<div class="wrap">
		<h2>Search Option</h2>
		<span> - Add company name or unique AVID number to search for a business</span>
	</div>
</div>
<div id="content">
	{% include 'search.html' %}
	<div id="table" class="wrap">
		{% include 'search_results_bar.html' %}
		<table id="recordsTable" class="draggable forget-ordering">
			<thead>
				<tr>
				{% for field, label, tooltip in fields %}
					<th title="{{tooltip}}">{{label}}</th>
				{% endfor %}
					<th>Challenge</th>
					<th>Request More Info</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
				{% for field, label, tooltip in fields %}
					<th><a href="javascript:;">hide</a></th>
				{% endfor %}
					<th><a href="javascript:;">hide</a></th>
					<th><a href="javascript:;">hide</a></th>
				</tr>
			</tfoot>
			<tbody>
			{% for tiddler in tiddlers %}
				<tr>
				{% for field, label, tooltip in fields %}
					{% if field == 'avid' %}
					<td><a href="/bags/avox/tiddlers/{{tiddler.title}}.html">{{tiddler.title}}</a></td>
					{% elif field == 'company_website' %}
					<td><a href="{{tiddler.fields[field]}}">{{tiddler.fields[field]}}</a></td>
					{% else %}
					<td>{{tiddler.fields[field]}}</td>
					{% endif %}
				{% endfor %}
					<td><a href="/bags/avox/tiddlers/{{ tiddler.title }}.challenge">go</a></td>
					<td><a href="/bags/avox/tiddlers/{{ tiddler.title }}.request">go</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
