{% extends "wikidatabase.html" %}
{% block body %}
{% set fields = commonVars.fields %}
<div class="grid12col container">
	<div class="grid4col marginright left">
		<h2>Your Search Results</h2>
		<p class="nomargin">Use the form on the right to refine your results further or make a new search.</p>
	</div>
	{% include 'search.html' %}
</div>
{% set count = tiddlers|count %}
{% set from = queryIndex+1 %}
{% set to = queryIndex+count %}
{% set count_to_end = resultcount - to %}
{% include 'search_results_bar.html' %}
<table id="resultsTable" class="draggable forget-ordering">
	<thead>
		<tr>
		{% for field, label, tooltip in fields %}
			<th title="{{tooltip}}">{{label}}</th>
		{% endfor %}
			<th class="noOrder" title="Challenge this record">Challenge Record</th>
			<th class="noOrder" title="Request more fields for this record">Request Analysis</th>
		</tr>
	</thead>
	<tbody>
	{% for tiddler in tiddlers %}
		<tr>
		{% for field, label, tooltip in fields %}
			<!-- TO-DO: use '-' instead of blank for empty fields -->
			{% if field == 'avid' %}
			<td><a href="/bags/avox/tiddlers/{{tiddler.title}}.html">{{tiddler.title}}</a></td>
			{% elif field == 'legal_name' %}
			<td class="entityName"><a href="/bags/avox/tiddlers/{{tiddler.title}}.html">{{tiddler.fields[field]}}</a></td>
			{% elif field == 'company_website' %}
			<td><a href="{{tiddler.fields[field]}}">{{tiddler.fields[field]}}</a></td>
			{% else %}
			<td>{{tiddler.fields[field]}}</td>
			{% endif %}
		{% endfor %}
			<td><a class="pointed" href="/bags/avox/tiddlers/{{ tiddler.title }}.challenge"><span></span>Go</a></td>
			<td><a class="pointed" href="/bags/avox/tiddlers/{{ tiddler.title }}.request"><span></span>Go</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<div class="tableinfo grid12col">
	{% if queryIndex == 0 -%}
	<a href="#" class="left pagebutton inactive"><span></span>prev</a>
	{%- else -%}
	<a href="#" class="left pagebutton"><span></span>prev</a>
	{%- endif %}
	{% if count_to_end == 0 -%}
	<a href="#" class="right pagebutton inactive"><span></span>next</a>
	{%- else -%}
	<a href="#" class="right pagebutton"><span></span>next</a>
	{%- endif %}
</div>
{% endblock %}