{% extends "wikidatabase.html" %}
{% block body %}
{% set tooltips = commonVars.tooltips %}
<div class="grid12col container">
	<div class="grid4col marginright left pageLinks notFixed">
		<h2>Company Record</h2>
		<p class="nomargin">Find your company data to the right. You can use the links below to request more information, challenge the data, or go back to the search page.</p>
		<ul>
			<li><a href="{{ tiddler.title }}.request">Request Analysis<span></span></a></li>
			<li><a href="{{ tiddler.title }}.challenge">Challenge Data<span></span></a></li>
			<li><a href="/" id="backToSearch">Back to Search<span></span></a></li>
		</ul>
	</div>
	<div class="grid8col right pageContent companyRecord">
		<h3>{{ tiddler.fields.legal_name }}</h3>
		
		<div class="grid4col left">
			<div class="equalise1 borderbottom">
				<h5>Entity Name</h5>
				<table class="companyRecord">
					<tbody>
						<tr>
							<td class="field">Legal Name: <a href="#" class="help">
								<span class="heading"><span class="point"></span><span class="text">Legal Name</span></span>
								<span class="helpText">{{ tooltips.legal_name }}</span>
							</a></td>
							<td>{{ tiddler.fields.legal_name }}</td>
						</tr>
						<tr>
							<td class="field">AVID: <a href="#" class="help">
								<span class="heading"><span class="point"></span><span class="text">AVID</span></span>
								<span class="helpText">{{ tooltips.avid }}</span>
							</a></td>
							<td>{{ tiddler.title}}</td>
						</tr>
						{% if tiddler.fields['previous_name_s_'] %}
						<tr>
							<td class="field">Previous Name(s): <a href="#" class="help">
								<span class="heading"><span class="point"></span><span class="text">Previous Name(s)</span></span>
								<span class="helpText">{{ tooltips.previous_name_s_ }}</span>
							</a></td>
							<td>{{ tiddler.fields['previous_name_s_'] }}</td>
						</tr>
						{% endif %}
						{% if tiddler.fields['trades_as_name_s_'] %}
						<tr>
							<td class="field">Trades As Name(s): <a href="#" class="help">
								<span class="heading"><span class="point"></span><span class="text">Trades As Name(s)</span></span>
								<span class="helpText">{{ tooltips.trades_as_name_s_ }}</span>
							</a></td>
							<td>{{ tiddler.fields['trades_as_name_s_'] }}</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
			<div class="borderbottom">
				<h5>Entity Information</h5>
				<table class="companyRecord">
					<tbody>
						<tr>
							<td class="field">Trading Status: <a href="#" class="help">
								<span class="heading"><span class="point"></span><span class="text">Trading Status</span></span>
								<span class="helpText">{{ tooltips.trading_status }}</span>
							</a></td>
							<td>{{ tiddler.fields.trading_status }}</td>
						</tr>
						{% if tiddler.fields.company_website %}
						<tr>
							<td class="field">Company website:</td>
							<td><a href="http://{{ tiddler.fields.company_website }}" target="_blank">{{ tiddler.fields.company_website }}</a></td>
						</tr>
						<tr>
							<td class="field">Country of Incorporation: <a href="#" class="help">
								<span class="heading"><span class="point"></span><span class="text">Country of Incorporation</span></span>
								<span class="helpText">{{ tooltips.registered_country }}</span>
							</a></td>
							<td class="registered_country">{{ tiddler.fields['registered_country'] }}</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="grid4col left marginleft">
			<div class="equalise1 borderbottom">
				<h5>Location Information</h5>
				<table class="companyRecord">
					<tbody>
						<tr>
							<td class="field">Operational Address:
								<a href="#" target="_blank" class="viewmap onlyjs">View Map ></a>
							</td>
							<td class="adr">
								{%- if tiddler.fields.operational_po_box %}
								{{ tiddler.fields.operational_po_box }}<br />
								{% endif %}
								{% if tiddler.fields.operational_floor or tiddler.fields.operational_building %}
								<span class="extended-address">
									{%- if tiddler.fields.operational_floor -%}
									{{ tiddler.fields.operational_floor }}
										{%- if tiddler.fields.operational_building %}, {% endif -%}
									{%- endif -%}
									{%- if tiddler.fields.operational_building -%}
									{{ tiddler.fields.operational_building }}
									{%- endif -%}
								</span><br />
								{%- endif %}
								<span class="street-address">
								{%- if tiddler.fields.operational_street_1 -%}
									{{ tiddler.fields.operational_street_1 }}
									{%- if tiddler.fields.operational_street_2 %}<br />{{ tiddler.fields.operational_street_2 }}
										{%- if tiddler.fields.operational_street_3 %}<br />{{ tiddler.fields.operational_street_3 }}
										{%- endif -%}
									{%- endif -%}
								{%- endif -%}
								</span><br />
								{% if tiddler.fields.operational_city -%}
								<span class="locality">{{ tiddler.fields.operational_city }}</span><br />
								{%- endif %}
								{% if tiddler.fields.operational_state -%}
								<span class="region operational_state">{{ tiddler.fields.operational_state }}</span><br />
								{%- endif %}
								{% if tiddler.fields.operational_country -%}
								<span class="country-name operational_country">{{ tiddler.fields.operational_country }}</span>
									{%- if tiddler.fields.operational_postcode %}, {% endif -%}
								{%- endif -%}
								{%- if tiddler.fields.operational_postcode %}<span class="postal-code">{{ tiddler.fields.operational_postcode }}</span>
								{%- endif -%}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="borderbottom">
				<h5>Hierarchy Information</h5>
				<table class="companyRecord">
					<tbody>
						<tr>
							<td class="field">Entity Type: <a href="#" class="help">
								<span class="heading"><span class="point"></span><span class="text">Entity Type</span></span>
								<span class="helpText">{{ tooltips.entity_type }}</span>
							</a></td>
							<td class="entity_type">{{ tiddler.fields['entity_type'] }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="grid4col left">	
			<h5>Identifiers</h5>
			<table class="companyRecord">
				<tbody>
					<tr>
						<td class="field">Provisional Legal Entity Identifier: <a href="#" class="help">
							<span class="heading"><span class="point"></span><span class="text">Provisional Legal Entity Identifier</span></span>
							<span class="helpText">{{ tooltips.lei }}</span>
						</a></td>
						{% if tiddler.fields['lei'] -%}
						<td class="lei">{{ tiddler.fields['lei'] }}</td>
						{%- else -%}
						<td class="lei">not published</td>
						{%- endif %}
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="alt-buttons small">
	<span class="label">other formats:&nbsp;</span>
	<a href="{{ tiddler.title }}.json">json</a> |
	<a href="{{ tiddler.title }}.txt">text</a>
	<!--<a href="{{ tiddler.title }}.edit">edit</a>-->
</div>
{% endblock %}
