{% extends "wikidatabase.html" %}
{% block body %}
<div class="grid12col container">
	<div class="grid4col marginright left pageLinks notFixed">
		<h2>Company Record</h2>
		<p class="nomargin">Find your company data to the right. You can use the links below to request more information, challenge the data, or go back to the search page.</p>
		<ul>
			<li><a href="{{ tiddler.title }}.request">Request more information<span></span></a></li>
			<li><a href="{{ tiddler.title }}.challenge">Challenge data<span></span></a></li>
			<li><a href="/" id="backToSearch">Back to Search<span></span></a></li>
		</ul>
	</div>
	<div class="grid8col right pageContent companyRecord">
		<h3>{{ tiddler.fields.legal_name }}</h3>
		
		<div class="grid4col left">
			<div class="equalise1 borderbottom">
				<h5>Entity Name</h5>
				<table class="companyRecord">
					<tbody>
						<tr>
							<td class="field">Legal Name:</td>
							<td>{{ tiddler.fields.legal_name }}</td>
						</tr>
						<tr>
							<td class="field">AVID:</td>
							<td>{{ tiddler.title}}</td>
						</tr>
						{% if tiddler.fields['previous_name_s_'] %}
						<tr>
							<td class="field">Previous Name(s):</td>
							<td>{{ tiddler.fields['previous_name_s_'] }}</td>
						</tr>
						{% endif %}
						{% if tiddler.fields['trades_as_name_s_'] %}
						<tr>
							<td class="field">Trades As Name(s):</td>
							<td>{{ tiddler.fields['trades_as_name_s_'] }}</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
			<h5>Entity Information</h5>
			<table class="companyRecord">
				<tbody>
					<tr>
						<td class="field">Trading Status:</td>
						<td>{{ tiddler.fields.trading_status }}</td>
					</tr>
					{% if tiddler.fields.company_website %}
					<tr>
						<td class="field">Company website:</td>
						<td><a href="{{ tiddler.fields.company_website }}">{{ tiddler.fields.company_website }}</a></td>
					</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
		<div class="grid4col left marginleft">
			<div class="equalise1 borderbottom">
				<h5>Location Information</h5>
				<table class="companyRecord">
					<tbody>
						<tr>
							<td class="field">Operational Address:
								<a href="#" target="_blank" class="viewmap onlyjs">View Map ></a>
							</td>
							<td class="adr">
								{% if tiddler.fields.operational_po_box %}
									{{ tiddler.fields.operational_po_box }}
								{% endif %}
								{% if tiddler.fields.operational_floor or tiddler.fields.operational_building %}
									<span class="extended-address">{% if tiddler.fields.operational_floor %}{{ tiddler.fields.operational_floor }} {% endif %}{% if tiddler.fields.operational_building %}{{ tiddler.fields.operational_building }}{% endif %}</span>
								{% endif %}
								<span class="street-address">
								{%- if tiddler.fields.operational_street_1 -%}
									{{ tiddler.fields.operational_street_1 }}
									{%- if tiddler.fields.operational_street_2 %}, {{ tiddler.fields.operational_street_2 }}
										{%- if tiddler.fields.operational_street_3 %}, {{ tiddler.fields.operational_street_3 }}
										{%- endif -%}
									{%- endif -%}
								{%- endif -%}
								</span>
								{% if tiddler.fields.operational_city -%}
									<span class="locality">{{ tiddler.fields.operational_city }}</span>
									{%-if tiddler.fields.operational_state or tiddler.fields.operational_country-%}, {%endif-%}
								{%- endif -%}
								{%- if tiddler.fields.operational_state -%}
									<span class="region operational_state">{{ tiddler.fields.operational_state }}</span>
									{%- if tiddler.fields.operational_country-%}, {%endif-%}
								{%- endif -%}
								{%- if tiddler.fields.operational_country -%}
									<span class="country-name operational_country">{{ tiddler.fields.operational_country }}</span>
								{%- endif %}
								{% if tiddler.fields.operational_postcode %}
									<span class="postal-code">{{ tiddler.fields.operational_postcode }}</span>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td class="field">Country of Incorporation:</td>
							<td class="registered_country">{{ tiddler.fields['registered_country'] }}</td>
						</tr>
					</tbody>
				</table>
			</div>	
			<h5>Heirarchy Information</h5>
			<table class="companyRecord">
				<tbody>
					<tr>
						<td class="field">Entity Type:</td>
						<td class="entity_type">{{ tiddler.fields['entity_type'] }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="alt-buttons small">
	<span class="label">other formats:&nbsp;</span>
	<a href="{{ tiddler.title }}.json">json</a> |
	<a href="{{ tiddler.title }}.txt">text</a>
	<!--<a href="{{ tiddler.title }}.edit">edit</a>-->
</div>
{% endblock %}
