{% extends "wikidatabase.html" %}
{% block body %}
<div class="grid12col container">
	<div class="grid4col marginright left pageLinks notFixed">
		<h2>Wiki-Data</h2>
		<p class="nomargin">An open, extensible, linkable repository of company information.</p>
		<ul>
			<li><a href="/pages/about.html">Learn about Wiki-Data<span></span></a></li>
			<!--<li><a href="/pages/api.html">Read about the Wiki-Data API<span></span></a></li>-->
			<li><a href="/pages/about.html#wdds">Request a Wiki-Data download file<span></span></a></li>
			<li><a href="/search?v=2;q=;lei=all;branches=1">View provisional legal entity identifiers<span></span></a></li>
			<li><a href="/search?q=bank&avid=&adv_1_field=Operational+City&adv_1_value=London&adv_2_field=Operational+Country&adv_2_value=GBR">Try a sample search<span></span></a></li>
    		<li><a href="/static/docs/wiki-data_v2_release_notes.doc">Release Notes<span></span></a></li>
		</ul>
	</div>
	<div class="grid8col right">
		<h2>Find a Company Record</h2>
		<p class="nomargin grid7col">Search our database of company information by company name or AVID. <br/>You can add filters to make your searches more accurate.</p>
	</div>
	{% include "search.html" %}
	<br class="clearboth" />
</div>
<div class="grid12col margintop">
	<h2>News</h2>
	<p>Avox is pleased to announce that in May 2012 www.wiki-data.com will be succeeded by <a href="http://www.avoxdata.com">www.AvoxData.com</a> (<strong>AvoxData</strong>).</p>
	<p>AvoxData is Avox's new web portal.  It will present all the content currently available on Wiki-Data and will have a significantly upgraded subscription-based service that will offer enhanced features:</p>
	<ul>
		<li>Instant access to the complete <a href="http://avox.info/pdfs/wikidata_field_specs.pdf" target="_blank">Avox standard field set</a> for subscribed Legal Entities</li>
		<li>Export Legal Entity details to PDF or csv</li>
		<li>Track your Challenges and new Entity Registrations</li>
		<li>Filter search results using Faceted Search</li>
		<li>Monitor entities of interest for changes</li>
		<li>Inclusion of client specific identifiers linked to AVID's and, once available, Legal Entity Identifiers*</li>
	</ul>
	<p>www.wiki-data.com will remain available to users after the launch of www.AvoxData.com.</p>
	<p>If you are a user of the wiki-data API please contact us to learn about additional AvoxData developments including a new API.</p>
	<p>To learn more about the new service please contact <a href="mailto://avoxdata@avox.info">avoxdata@avox.info</a></p>
	<p>*<a href="http://www.wiki-data.com/pages/about.html#lei">provisional legal entity identifiers</a> are already available on www.wiki-data.com</p>
</div>
{% endblock %}

