{% extends "wikidatabase.html" %}
{% block body %}
<div class="grid12col container">
	<div class="grid4col marginright left pageLinks notFixed">
		<h2>Wiki-Data</h2>
		<p class="nomargin">An open, extensible, linkable repository of company information.</p>
		<ul>
			<li><a href="/pages/about.html">Learn about Wiki-Data<span></span></a></li>
			<li><a href="/pages/about.html#feedback">Read about the Wiki-Data API<span></span></a></li>
			<li><a href="/search?q=bank&avid=&adv_1_field=Operational+City&adv_1_value=London&adv_2_field=Operational+Country&adv_2_value=GBR">Try a sample search<span></span></a></li>
		</ul>
	</div>
	<div class="grid8col right">
		<h2>Find a Company Record</h2>
		<p class="nomargin grid7col">Search our database of company information by company name or AVID. <br/>You can add filters to make your searches more accurate.</p>
	</div>
	{% include "search.html" %}
</div>
{% endblock %}
