{% extends "wikidatabase.html" %}
{% block body %}
<div class="grid12col container">
	<h2>Login</h2>
	<div class="formSet grid4col">
		<form method="POST" id="loginForm">
			<label for="username">Login ID (email address):</label>
			<input type="text" name="username" id="username" />
			<label for="password">Password:</label>
			<input type="password" id="password" name="password" />
			<input type="hidden" name="tiddlyweb_redirect" value="{{redirect}}" />
			<br class="clearboth" />
			<a id="searchButton">
				<span id="testBorder"></span><input id="submitButton" value="Login" type="submit" />
			</a>
			<br class="clearboth" />
		</form>
		{% if error -%}
		<div class="error">Oops. Your username or password didn't match our records, please try again.</div>
		{%- endif %}
		{% if commonVars.usersign.expired_user -%}
		<div class="error">{{commonVars.usersign.expired_user}} - {% include 'login_form_support_line.html' %}</div>
		{%- endif %}
	</div>
</div>
{% endblock %}
