{% extends "wikidatabase.html" %}
{% block body %}
<div id="static">
	<div id="searchtitle" class="darkgreen">
		<div class="wrap">
			<h2>Login</h2>
		</div>
	</div>
	<div class="wrap">
		<div class="miniwrap bluebox lightblueborder">
			<form method="POST" id="loginform">
				<div>
					<label for="username">Login ID (email address):</label>&nbsp;<input name="username" id="username" size="40" />
				</div>
				<div>
					<label for="password">Password:</label>&nbsp;<input type="password" id="password" name="password" size="40" />
				</div>
				<div>
					<input type="hidden" name="tiddlyweb_redirect" value="{{redirect}}" />
					{% if error -%}
					<div class="error">Oops. Your username or password didn't match our records, please try again</div>
					{%- endif %}
					{% if commonVars.usersign.expired_user -%}
					<div class="error">{{commonVars.usersign.expired_user}} - {% include 'login_form_support_line.html' %}</div>
					{%- endif %}
					<input type="submit" id="submit" class="darkgreen lightborder whitetext caps margintop" value="Login" />
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
