{% extends "wikidatabase.html" %}
{% block body %}
{% set query = commonVars.query %}
{% if query['success'] and query['success'][0] == 1 %}
   {% set success = 1 %}
{% else %}
   {% set success = 0 %}
{% endif %}
<div id="static">
	<div id="searchtitle" class="darkgreen">
		<div class="wrap">
			<h2>Account creation
			{%- if success==1 %} successful
			{%- else %} failed
			{%- endif %}</h2>
		</div>
	</div>
	<div class="wrap">
		<div class="miniwrap bluebox lightblueborder">
                {% if success==1 -%}
                <p>An email has been sent to: {{query['email'][0]}} with a new password.</p>
                {%- else -%}
                <p class="error">Oops! Something went wrong. Please <a href="/_admin/createuser">try again.</a></p>
                {%- endif %}
            </div>
        </div>
    </div>
{% endblock %}
