<div id="personal_info">
	<h2>information</h2>
	<div>
		{% if commonVars.usersign.name == "GUEST" %}
		<p>We'd like to know who you are!</p>
		{% else %}
		<p>Your account details are shown below</p>
		{% endif %}
	</div>
	<div>
		{% if commonVars.usersign.name == "GUEST" %}
		<label for="name">Your name</label>
		<input class="required" type="text" name="name" id="name" size="35"/>
		{%- if query['formError'] and '"name"' in query['formError'][0] -%}
		<label for="name" generated="true" class="error">This field is required.</label>
		{%- endif -%}
		<br class="clearboth" />
		<label for="email">Your email address</label>
		<input class="required email" type="text" name="email" id="email" size="35"/>
		{%- if query['formError'] and '"email"' in query['formError'][0] -%}
		<label for="email" generated="true" class="error">This field is required.</label>
		{%- endif -%}
		<br class="clearboth" />
		<label for="country">Your country</label>
		<input class="required" type="text" name="country" id="country" size="35" />
		{%- if query['formError'] and '"country"' in query['formError'][0] -%}
		<label for="country" generated="true" class="error">This field is required.</label>
		{%- endif -%}
		<br class="clearboth" />
		<label for="company">Your company <span>(Optional)</span></label>
		<input type="text" name="company" size="35"/>
		{% else %}
		{% set name = commonVars.usersign.fields.name %}
		{% set email = commonVars.usersign.name %}
		{% set country = commonVars.usersign.fields.country %}
		{% set company = commonVars.usersign.fields.company %}
		<p class="marginbottom">
			<span>Name:</span>
			<input type="hidden" name="name" value="{{name}}" />
			<span>{% if name -%}
				{{name}}{%else%}(not provided)
			{%-endif%}</span>
			<br />
			<span>Email address:</span>
			<input type="hidden" name="email" value="{{email}}" />
			<span>{% if email -%}
				{{email}}{%else%}(not provided)
			{%-endif%}</span>
			<br />
			<span>Country:</span>
			<input type="hidden" name="country" value="{{country}}" />
			<span>{% if country -%}
				{{country}}{%else%}(not provided)
			{%-endif%}</span>
			<br />
			<span>Company (Optional):</span>
			<input type="hidden" name="company" value="{{company}}" />
			<span>{% if company -%}
				{{company}}{%else%}(not provided)
			{%-endif%}</span>
		</p>
		{% endif %}
		{% if commonVars.usersign.name == "GUEST" %}
		<div>Are you human?</div>
		<div id="recaptcha">
			<!--<script type="text/javascript" src="http://api.recaptcha.net/challenge?k=6Ld8HAgAAAAAAEIb34cZepZmJ0RlfeP6CmtoMO29"></script>-->
			<noscript>
				<iframe src="http://api.recaptcha.net/noscript?k=6Ld8HAgAAAAAAEIb34cZepZmJ0RlfeP6CmtoMO29" height="300" width="500" frameborder="0"></iframe><br />
				<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
				<input type='hidden' name='recaptcha_response_field' value='manual_challenge' />
			</noscript>
		</div>
		<p>You do not need to type capital letters or accents.</p>
		{% if captcha.failure %}
		<div class="captcha_error">
			<p>Whoops! I think you made a mistake with the CAPTCHA. Please try again.</p>
		</div>
		{% endif %}
		{% endif %}
	</div>
</div>