{% extends "wikidatabase.html" %}
{% block body %}
<div class="grid12col container">
	<h2>Register</h2>
	<div class="formSet grid4col">
		<form method="POST" action="/register">
			<label for="name">Name:</label>
			<input type="text" name="name" id="name" />
			<label for="email">Email:</label>
			<input type="text" id="email" name="email" />
			<label for="country">Country:</label>
			<input type="text" id="country" name="country" />
			<label for="email">Company:</label>
			<input type="text" id="company" name="company" />
			<input type="submit" id="submit" class="margintop" value="Login" />
		</form>
	</div>
</div>
{% endblock %}
