{% extends "wikidatabase.html" %}
{% block body %}
{% set captcha = commonVars.captcha %}
{% set query = commonVars.query %}
<div class="grid12col container">
	{% if commonVars.query['success'] and commonVars.query['success'][0] == '1' %}
	<p>Thanks! We'll be in touch shortly.</p>
	{% else %}
	<form method="post" action="/verify" id="recordForm">	
		<div class="grid4col marginright left">
			<div class="pageLinks notFixed">
				<h2>Request Analysis</h2>
				<p class="nomargin">This is a list of the extra data fields you are requesting for AVID {{tiddler.title}}. Click Submit to confirm your request.</p>
				<div class="requestInformation left">
					<span id="testBorder"></span><input id="submitButton" value="Submit Request" type="submit" />
				</div>
				<br class="clearboth" />
				<ul>
					<li><a href="/bags/avox/tiddlers/{{tiddler.title}}">This Company's Record<span></span></a></li>
				</ul>
			</div>
		</div>
		
		
		
		<div class="grid8col right pageContent requestInformation">
			<h3>{{tiddler.fields.legal_name}}</h3>
			
			<div class="grid4col left">
				<div class="equalise1 borderbottom">
					<h5>Registered Address</h5>
					<ul>
						<li>Registered Agent Name</li>
						<li>Registered Post Box</li>
						<li>Registered Floor</li>
						<li>Registered Building</li>
						<li>Registered Street 1</li>
						<li>Registered Street 2</li>
						<li>Registered Street</li>
						<li>Registered City</li>
						<li>Registered State</li>
						<li>Registered Postcode</li>								
					</ul>
				</div>
				<h5>Industrial Classification</h5>
				<ul>
					<li>US SIC Code &amp; Description</li>
					<li>NAICS Code &amp; Description</li>
				</ul>
			</div>
			<div class="grid4col left marginleft">
				<div class="equalise1 borderbottom">
					<h5>Entity Information</h5>
					<ul>
						<li>Date of Incorporation</li>
						<li>Date of Dissolution</li>
						<li>Issuer Flag</li>
						<li>Registration Number</li>
						<li>Primary Listing Exchange</li>
						<li>Primary Ticker Code</li>
						<li>SWIFT BIC</li>
						<li>Registered Agent Name</li>
					</ul>
				</div>								
				<h5>Heirarchy Information</h5>
				<ul>
					<li>Entity Type</li>
					<li>Immediate Parent</li>
					<li>Immediate Parent AVID</li> 	
					<li>Ultimate Parent</li>
					<li>Ultimate Parent AVID</li>
				</ul> 	
			</div>
		</div>
		<input type="hidden" value="request" name="requestType"/>
		<input type="hidden" name="avid" value="{{tiddler.title}}" />
		<input type="hidden" name="legal_name" value="{{tiddler.fields.legal_name}}" />
		{% include 'personal_info.html' %}
	</form>
	{% endif %}
</div>
{% endblock %}