{% extends "wikidatabase.html" %}
{% block body %}
{% set captcha = commonVars.captcha %}
<div id="pagenav">
	<ul>
		<li><a href="/index.html" class="lightborder darkgreen caps">Home</a></li>
		<li><a href="#" class="lightborder darkgreen caps onlyjs" id="backnav">Back</a></li>
	</ul>
</div>

<div id="content-request">
	{% if commonVars.query['success'] and commonVars.query['success'][0] == '1' %}
	<div class="wrap">
		<p>Thanks! We'll be in touch shortly.</p>
	</div>
	{% else %}
	<div id="leftbit" class="padded notIE"></div>
	<div class="wrap relative z1">
		<form method="post" action="/verify" id="recordForm">
			<div class="left leftpanelhead wrap">		
				<h2>Request More Information</h2>
				<div class="stripe noleftborder">
					<p>These are the extra data fields you are requesting for {{tiddler.title}}</p>
				</div>
				<div class="left lightbluebox lightblueborder leftpanel" id="fieldsColumn">
					<p class="entity-name"><a href="/bags/avox/tiddlers/{{tiddler.title}}">{{tiddler.fields.legal_name}}</a></p>
					<h3>Registered Address</h3>
					<table class="fields">
						<tbody>
							<tr>
								<td><span>Registered Agent Name</span></td>
								<td><span>Registered Post Box</span></td>
							</tr>
							<tr>
								<td><span>Registered Floor</span></td>
								<td><span>Registered Building</span></td>
							</tr>
							<tr>
								<td><span>Registered Street 1</span></td>
								<td><span>Registered Street 2</span></td>
							</tr>
							<tr>
								<td><span>Registered Street </span></td>
								<td><span>Registered City</span></td>
							</tr>
							<tr>
								<td><span>Registered State</span></td>
								<td><span>Registered Postcode</span></td>
							</tr>
						</tbody>
					</table>
					<h3>Entity Information</h3>
					<table class="fields">
						<tbody>
							<tr>
								<td><span>Date of Incorporation</span></td>
								<td><span>Date of Dissolution</span></td>
							</tr>
							<tr>
								<td><span>Issuer Flag</span></td>
								<td></td>
							</tr>
						</tbody>
					</table>
					<h3>Identifiers</h3>
					<table class="fields">
						<tbody>
							<tr>
								<td><span>Registration Number</span></td>
								<td><span>Primary Listing Exchange</span></td>
							</tr>
							<tr>
								<td><span>Primary Ticker Code</span></td>
								<td><span>SWIFT BIC</span></td>
							</tr>
							<tr>
								<td><span>Registered Agent Name</span></td>
								<td></td>
							</tr>
						</tbody>
					</table>
					<h3>Industrial Classifications</h3>
					<table class="fields">
						<tbody>
							<tr>
								<td><span>US SIC Code & Description</span></td>
								<td><span>NAICS Code & Description</span></td>
							</tr>
						</tbody>
					</table>
					<h3>Hierarchy Information</h3>
					<table class="fields">
						<tbody>
							<tr>
								<td><span>Entity Type</span></td>
								<td><span>Immediate Parent</span></td>
							</tr>
							<tr>
								<td><span>Immediate Parent AVID</span></td>
								<td><span>Ultimate Parent</span></td>
							</tr>
							<tr>
								<td><span>Ultimate Parent AVID</span></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="right lightbluebox lightblueborder leftpanel" id="tableoverflow"></div>
				<br class="clearboth" />
				<div>
					<input type="hidden" value="request" name="requestType"/>
					<input type="hidden" name="avid" value="{{tiddler.title}}" />
					<input type="hidden" name="legal_name" value="{{tiddler.fields.legal_name}}" />
					<input id='submitButton' class="right submitButton darkgreen lightborder whitetext caps margintop" type="submit" value="Submit request"/>
				</div>
			</div>
			{% include 'personal_info.html' %}
		</form>
	</div>
	<br class="clearboth" />
	{% endif %}
</div>
{% endblock %}