{% extends "wikidatabase.html" %}
{% block body %}
<div class="grid12col container">
	<div class="grid4col marginright left">
		<h2>Retrieve Wiki-Data File</h2>
	</div>
	<div class="grid8col right pageContent">
		<div>			
			<p>The Avox Wiki-Data files are available to subscribers using an FTP connection to the Avox FTP server: <a href="ftp://ftp1.avox.info" target="_blank">ftp1.avox.info</a></p>
			<p>Once you have received your FTP Username and Password you can view and copy the Wiki-Data files that are currently available.</p>
			<p>You can use one of several tools to access these files. To assist we have prepared a <a href="http://dl.dropbox.com/u/331606/avox/Wiki-Data%20downloading%20guide.doc">Guide</a> that covers the essential information required for access to the files. This goes into detail for two of the most popular FTP free clients on Microsoft Windows, Filezilla and WinSCP.</p>
			<p>If you require any assistance please email <a href="mailto:wiki-data@avox.info">wiki-data@avox.info</a> or contact us at <a href="tel:%2B441978661813">+44 1978 661 813</a> during UK business hours.</p>	
		</div>
	</div>
</div>
{% endblock %}
