{% extends "wikidatabase.html" %}
{% block body %}
<div class="grid12col container">
	<div class="grid4col marginright left">
		<h2>Retrieve Wiki-Data File</h2>
	</div>
	<div class="grid8col right pageContent">
		<div>
			<p>Now that you have received your FTP Username and Password you can view and copy the wiki-data files that are currently available.</p>
			<p>Using an FTP Client please access via <a href="ftp://ftp1.avox.info" target="_blank">ftp://ftp1.avox.info</a></p>
			<p>If you require any assistance please email <a href="mailto:wiki-data@avox.info">wiki-data@avox.info</a> or contact us at +44 1978 661 813 during UK business hours.</p>
		</div>
	</div>
</div>
{% endblock %}
