<form id="searchBox" class="grid8col lightbg left" action="/search" method="get">
	<label for="query" class="leftLabel marginright">Company Name / AVID *</label>
	<input id="query" name="q" type="text" />
	<a href="#" class="help">
		<span class="heading"><span class="point"></span><span class="text">Search Terms</span></span>
		<span class="helpText">Type here to search by AVID, Legal Name, Previous Name(s), Trades As Name(s) and provisional legal entity identifier</span>
	</a>
	<label for="branches" class="small marginleft">Include branches</label>
	<input id="branches" name="branches" type="checkbox" checked="checked" />
	<a href="#" class="help">
		<span class="heading"><span class="point"></span><span class="text">Branches</span></span>
		<span class="helpText">Check this box to include company branches in your search</span>
	</a>
	<div class="submitBox">
		<select class="advSearchLineField match" name="type" id="type">
			<option selected="selected" value="all">Match All</option>
			<option value="partial">Match Partial</option>
			<option value="exact">Match Exact</option>
		</select>
		<a href="#" class="help">
			<span class="heading"><span class="point"></span><span class="text">Match</span></span>
			<span class="helpText">Choose how to match results to your search strings</span>
		</a>
		<span class="clearboth" id="footnote">
			* You can also search using a <a href="/pages/about.html#lei">provisional legal entity identifier</a>
		</span>
		<a id="searchButton">
			<input id="submitButton" value="Search Wiki-Data" type="submit" /><span></span>
		</a>
	</div>
	<div id="advancedSearchContainer">
	</div>
	<div class="onlyjs clearboth marginbottom">
		<span class="leftLabel marginright">Add a Filter</span>
		<span>
			<button>+</button>
			<a href="#" class="help">
				<span class="heading"><span class="point"></span><span class="text">Filters</span></span>
				<span class="helpText">Click here to filter search results by different fields, such as Entity Type and Operational Country</span>
			</a>
		</span>
	</div>
	<input type="hidden" name="v" value="2" />
</form>