{% extends "wikidatabase.html" %}
{% block body %}
{% set labels = [
	('operational_po_box', 'Operational PO Box'),
	('operational_floor', 'Operational Floor'),
	('operational_building', 'Operational Building'),
	('operational_street_1', 'Operational Street'),
	('operational_street_2', 'Operational Street 2'),
	('operational_street_3', 'Operational Street 3'),
	('operational_city', 'Operational City'),
	('operational_postcode', 'Operational Postcode'),
	('immediate_parent_avid', 'Immediate Parent AVID'),
	('immediate_parent_name', 'Immediate Parent Name'),
	('ultimate_parent_avid', 'Ultimate Parent AVID'),
	('ultimate_parent_name', 'Ultimate Parent Name'),
	('entity_type', 'Entity Type'),
	('registered_po_box', 'Registered PO Box'),
	('registered_floor', 'Registered Floor'),
	('registered_building', 'Registered Building'),
	('registered_street_1', 'Registered Street 1'),
	('registered_street_2', 'Registered Street 2'),
	('registered_street_3', 'Registered Street 3'),
	('registered_city', 'Registered City'),
	('regstered_state', 'Registered State'),
	('registered_country', 'Country of Incorporation'),
	('registered_postcode', 'Registered Postcode'),
	('registration_number__jurisdiction_', 'Registration Number (Jurisdiction)')
] %}
{% set captcha = commonVars.captcha %}
{% set query = commonVars.query %}
<div class="grid12col container">
	{% if query['success'] and query['success'][0] == '1' %}
	<p>Thanks! We'll be in touch shortly.</p>
	{% else %}
	<form id="recordForm" method="post" action="/verify">
		<div class="grid4col left marginright mandatory">
			<div class="pageLinks notFixed">
				<h2>Register an Entity</h2>
				<p class="nomargin">Have you <a href="/">searched</a> for the record? If so please fill in as much of the first section as you can and add your contact information.</p>
			</div>
			<div class="lightbg formSet margintop">
				<h3>Mandatory Fields</h3>
				<div>
					<label for="legal_name" class="grid3col marginright">Legal Name</label>
					<input id="legal_name" name="legal_name" class="grid3col required" type="text" />
					<a class="help">
						<span class="heading"><span class="point"></span><span class="text">Legal Name</span></span>
						<span class="helpText">help text for Legal Name</span>
					</a>
					{%- if query['formError'] and '"legal_name"' in query['formError'][0] -%}
					<label for="legal_name" generated="true" class="error">This field is required.</label>
					{%- endif -%}
				</div>
				<div>
					<label for="operational_country" class="grid3col marginright">Operational Country</label>
					<input class="grid3col required" id="operational_country" type="text" name="operational_country" />
					<a class="help">
						<span class="heading"><span class="point"></span><span class="text">Operational Country</span></span>
						<span class="helpText">help text for Operational Country</span>
					</a>
					{%- if query['formError'] and '"operational_country"' in query['formError'][0] -%}
					<label for="operational_country" generated="true" class="error">This field is required.</label>
					{%- endif -%}
				</div>
				<div>
					<label for="operational_state" class="grid3col marginright">Operational State</label>
					<input id="operational_state" name="operational_state" class="grid3col" type="text" />
					<a class="help">
						<span class="heading"><span class="point"></span><span class="text">Operational State</span></span>
						<span class="helpText">help text for Operational State</span>
					</a>
					{%- if query['formError'] and '"operational_state"' in query['formError'][0] -%}
					<label for="operational_state" generated="true" class="error">This field is required.</label>
					{%- endif -%}
				</div>
			</div>
			<span id="testBorder"></span><input id="submitButton" value="Register Entity" type="submit" />
		</div>
		<div class="grid8col right lightbg formSet">
			<h3>Additional Fields</h3>
			<div class="grid4col left marginright" id="toOverflow">
			{% for field, label in labels %}
				<div>
					<label for="{{field}}" class="grid3col marginright">{{label}}</label>
					{% if field == 'entity_type' %}
					<select name="{{field}}">
						<option value="">Please select...</option>
						<option value="Branch">Branch</option>
						<option value="Division">Division</option>
						<option value="Subsidiary">Subsidiary</option>
						<option value="Ultimate Parent">Ultimate Parent</option>
					</select>
					{% else %}
					<input id="{{field}}" name="{{field}}" class="grid3col" type="text" />
					{% endif %}
					<!-- TO-DO: what to do about making the help text specific to each field? -->
					<a class="help">
						<span class="heading"><span class="point"></span><span class="text">Search Terms</span></span>
						<span class="helpText">Type here to search by AVID, Legal Name, Previous Name(s) and Trades As Name(s)</span>
					</a>
				</div>
			{% endfor %}
				<div>
					<input type="hidden" value="suggest_new" name="requestType" />
				</div>
			</div>
			<!-- this is where the overflow goes -->
			<div class="grid4col left marginright" id="tableoverflow">
			</div>
		</div>
		{% include 'personal_info.html' %}
	</form>
	{% endif %}
</div>
{% endblock %}
