{% extends "wikidatabase.html" %}
{% block body %}
{% set labels = [
	('operational_po_box', 'Operational PO Box'),
	('operational_floor', 'Operational Floor'),
	('operational_building', 'Operational Building'),
	('operational_street_1', 'Operational Street 1'),
	('operational_street_2', 'Operational Street 2'),
	('operational_street_3', 'Operational Street 3'),
	('operational_city', 'Operational City'),
	('operational_postcode', 'Operational Postcode'),
	('immediate_parent_avid', 'Immediate Parent AVID'),
	('immediate_parent_name', 'Immediate Parent Name'),
	('ultimate_parent_avid', 'Ultimate Parent AVID'),
	('ultimate_parent_name', 'Ultimate Parent Name'),
	('entity_type', 'Entity Type'),
	('registered_po_box', 'Registered PO Box'),
	('registered_floor', 'Registered Floor'),
	('registered_building', 'Registered Building'),
	('registered_street_1', 'Registered Street 1'),
	('registered_street_2', 'Registered Street 2'),
	('registered_street_3', 'Registered Street 3'),
	('registered_city', 'Registered City'),
	('regstered_state', 'Registered State'),
	('registered_country', 'Registered Country'),
	('registered_postcode', 'Registered Postcode'),
	('registration_number__jurisdiction_', 'Registration Number (Jurisdiction)')
] %}
{% set captcha = commonVars.captcha %}
<div id="pagenav">		
	<ul>
		<li><a href="/index.html" class="lightborder darkgreen caps">Home</a></li>
		<li><a href="#" class="lightborder darkgreen caps onlyjs" id="backnav">Back</a></li>
	</ul>
</div>

<div id="content-suggest">
	{% if commonVars.query['success'] and commonVars.query['success'][0] == '1' %}
	<div class="wrap">
		<p>Thanks! We'll be in touch shortly.</p>
	</div>
	{% else %}
	<div id="leftbit" class="padded notIE"></div>
	<div class="wrap relative z1">
		<form method="post" action="/verify" id="suggest_new">
			<div class="left leftpanelhead wrap">		
				<h2>Suggest a New Record</h2>
				<div class="stripe noleftborder">
					<p>Have you <a href="/index.html">searched</a> for the record? If so please fill in the first section as much as you can and add your contact information</p>
				</div>
				<div class="left lightbluebox lightblueborder leftpanel">
					<h3>Mandatory fields</h3>
					<table class="fields">
						<tbody>
							<tr>
								<td><label for="legal_name">Legal Name</label></td>
								<td><input type="text" size="35" name="legal_name" /></td>
							</tr>
							<tr>
								<td colspan="2"><label for="operational_country">Operational Country</label>
								<input type="text" size="35" name="operational_country" /></td>
							</tr>
							<tr>
								<td><label for="operational_state">Operational State</label></td>
								<td><input type="text" size="35" name="operational_state" /></td>
							</tr>
						</tbody>
					</table>
					<h3>Additional fields</h3>
					<table class="fields">
						{% for field, label in labels %}
						<tr>
							{% if field == 'entity_type' %}
							<td><label for="{{field}}">{{label}}</label></td>
							<td><select name="{{field}}" id="smallselect">
								<option value="Null">Null</option>
								<option value="Branch">Branch</option>
								<option value="Division">Division</option>
								<option value="Subsidiary">Subsidiary</option>
								<option value="Ultimate Parent">Ultimate Parent</option>
							</select></td>
							{% elif field == 'registered_country' %}
							<td colspan="2"><label for="{{field}}">Registered Country</label>
							<input type="text" size="35" name="{{field}}" /></td>
							{% else %}
							<td><label for="{{field}}">{{label}}</label></td>
							<td><input type="text" size="35" name="{{field}}" /></td>
							{% endif %}
						</tr>
						{% endfor %}
					</table>
				</div>
				<div class="right lightbluebox lightblueborder leftpanel" id="tableoverflow">
					<table class="fields"></table>
				</div>
			</div>
			{% include 'personal_info.html' %}
			<div>
				<input type="hidden" value="suggest_new" name="requestType"/>
				<input id='submitButton' class="submitButton darkgreen lightborder whitetext caps margintop" type="submit" value="Submit suggestion"/>
			</div>
		</form>
	</div>
	<br class="clearboth" />
	{% endif %}
</div>
{% endblock %}
