{% extends "wikidatabase.html" %}
{% block body %}
{% set tooltips = commonVars.tooltips %}
{% set operational_fields = [
('operational_po_box', 'Operational PO Box'),
('operational_floor', 'Operational Floor'),
('operational_building', 'Operational Building'),
('operational_street_1', 'Operational Street'),
('operational_street_2', 'Operational Street 2'),
('operational_street_3', 'Operational Street 3'),
('operational_city', 'Operational City'),
('operational_postcode', 'Operational Postcode')
] %}
{% set registered_fields = [
('registered_po_box', 'Registered PO Box'),
('registered_floor', 'Registered Floor'),
('registered_building', 'Registered Building'),
('registered_street_1', 'Registered Street 1'),
('registered_street_2', 'Registered Street 2'),
('registered_street_3', 'Registered Street 3'),
('registered_city', 'Registered City'),
('registered_state', 'Registered State'),
('registered_postcode', 'Registered Postcode'),
('registered_country', 'Country of Incorporation')
] %}
{% set entity_fields = [
('trading_status', 'Trading Status'),
('company_website', 'Company Website'),
('registration_number__jurisdiction_', 'Incorporation Number')
] %}
{% set hierarchy_fields = [
('immediate_parent_avid', 'Immediate Parent AVID'),
('immediate_parent_name', 'Immediate Parent Name'),
('ultimate_parent_avid', 'Ultimate Parent AVID'),
('ultimate_parent_name', 'Ultimate Parent Name'),
('entity_type', 'Entity Type')
] %}
{% set captcha = commonVars.captcha %}
{% set query = commonVars.query %}
<div class="grid12col container">
	{% if query['success'] and query['success'][0] == '1' %}
	<p>Thank you for registering a new legal entity with Wiki-Data. Avox will process your registration and supply you with an AVID for the legal entity. This will be sent to your email address.</p>
	<p>Please <a href="/">click here</a> to return to the Search Page.</p>
	{% else %}
	<form id="recordForm" method="post" action="/verify">
		<div class="grid4col left marginright mandatory">
			<div class="pageLinks notFixed">
				<h2>Register an Entity</h2>
				<p class="nomargin">Have you <a href="/">searched</a> for the record? If so please fill in as many sections on this page as you can. Avox will process your registration and supply you with an AVID for the legal entity.</p>
			</div>
			<div class="lightbg formSet margintop">
				<h3>Mandatory Fields</h3>
				<div>
					<label for="legal_name" class="grid3col marginright">Legal Name</label>
					<input id="legal_name" name="legal_name" class="grid3col required" type="text" />
					<a href="#" class="help">
						<span class="heading"><span class="point"></span><span class="text">Legal Name</span></span>
						<span class="helpText">{{ tooltips.legal_name }}</span>
					</a>
					{%- if query['formError'] and '"legal_name"' in query['formError'][0] -%}
					<label for="legal_name" generated="true" class="error">This field is required.</label>
					{%- endif -%}
				</div>
				<div>
					<label for="operational_country" class="grid3col marginright">Operational Country</label>
					<input class="grid3col required" id="operational_country" type="text" name="operational_country" />
					{%- if query['formError'] and '"operational_country"' in query['formError'][0] -%}
					<label for="operational_country" generated="true" class="error">This field is required.</label>
					{%- endif -%}
				</div>
				<div>
					<label for="operational_state" class="grid3col marginright">Operational State</label>
					<input id="operational_state" name="operational_state" class="grid3col" type="text" />
					<a href="#" class="help">
						<span class="heading"><span class="point"></span><span class="text">Operational State</span></span>
						<span class="helpText">{{ tooltips.operational_state }}</span>
					</a>
					{%- if query['formError'] and '"operational_state"' in query['formError'][0] -%}
					<label for="operational_state" generated="true" class="error">This field is required.</label>
					{%- endif -%}
				</div>
				<br class="clearboth" />
			</div>
			<div class="lightbg formSet margintop">
				<h5>Source (optional)</h5>
				<div>
					<p>What are your sources for this information? Please include URL's and/or sources used.</p>
					<textarea rows="5" name="source" class="margintopsmall"></textarea>
				</div>
			</div>
			<a id="searchButton">
				<input id="submitButton" value="Register Entity" type="submit" /><span></span>
			</a>
		</div>
		<div class="grid8col right pageContent companyRecord">
			<h3>Additional Fields</h3>
			<div class="grid4col left">
				<div class="borderbottom equalise1">
					<h5>Location Information <a href="#" class="help">
						<span class="heading"><span class="point"></span><span class="text">Location Information</span></span>
						<span class="helpText">Operational address information</span>
					</a></h5>
					<table class="companyRecord">
						<tbody>
						{% for field, label in operational_fields %}
							<tr>
								<td class="field"><label for="{{field}}">{{label}}</label></td>
								<td {%- if field in ['operational_country', 'operational_state', 'registered_country', 'registered_state'] %} class="{{field}}" {%- endif -%} ><input type="text" name="{{field}}" id="{{field}}" /></td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="borderbottom">
					<h5>Hierarchy Information</h5>
					<table class="companyRecord">
						<tbody>
						{% for field, label in hierarchy_fields %}
							<tr>
								<td class="field"><label for="{{field}}">{{label}}</label></td>
								<td><input class="reduced" type="text" name="{{field}}" id="{{field}}" />
								<a href="#" class="help">
									<span class="heading"><span class="point"></span><span class="text">{{label}}</span></span>
									<span class="helpText">{{ tooltips[field] }}</span>
								</a></td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="grid4col left marginleft">
				<div class="borderbottom equalise1">
					<h5>Registered Address Information <a href="#" class="help">
						<span class="heading"><span class="point"></span><span class="text">Registered Address</span></span>
						<span class="helpText">The registered address published by the registration authority for the country (or US state) of incorporation for the entity</span>
					</a></h5>
					<table class="companyRecord">
						<tbody>
						{% for field, label in registered_fields %}
							<tr>
								<td class="field"><label for="{{field}}">{{label}}</label></td>
								<td {%- if field in ['operational_country', 'operational_state', 'registered_country', 'registered_state'] %} class="{{field}}" {%- endif -%} >
								{%- if field in ['registered_state', 'registered_country'] -%}
								<input class="reduced" type="text" name="{{field}}" id="{{field}}" />
								<a href="#" class="help">
									<span class="heading"><span class="point"></span><span class="text">{{label}}</span></span>
									<span class="helpText">{{ tooltips[field] }}</span>
								</a>
								{%- else -%}
								<input type="text" name="{{field}}" id="{{field}}" />
								{%- endif -%}
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="borderbottom">
					<h5>Entity Information</h5>
					<table class="companyRecord">
						<tbody>
						{% for field, label in entity_fields %}
							<tr>
								<td class="field"><label for="{{field}}">{{label}}</label></td>
								<td>
								{%- if field in ['trading_status', 'registration_number__jurisdiction_'] -%}
								<input class="reduced" type="text" name="{{field}}" id="{{field}}" />
								<a href="#" class="help">
									<span class="heading"><span class="point"></span><span class="text">{{label}}</span></span>
									<span class="helpText">{{ tooltips[field] }}</span>
								</a>
								{%- else -%}
								<input type="text" name="{{field}}" id="{{field}}" />
								{%- endif -%}
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<input type="hidden" value="suggest_new" name="requestType" />
		</div>
		{% include 'personal_info.html' %}
	</form>
	{% endif %}
</div>
{% endblock %}
