{% extends "wikidatabase.html" %}
{% block body %}
<div class="grid12col container">
	<h2>Update an account</h2>
	<div class="formSet grid4col">
		<form method="POST" id="updateForm">
			<label for="name">Name:</label>
			<input type="text" name="name" id="name" value="{{ form.name }}" />
			<label for="name">Email:</label>
			<input type="text" name="email" id="email" value="{{ form.email }}" />
			<label for="name">Country:</label>
			<input type="text" name="country" id="country" value="{{ form.country }}" />
			<label for="name">Company:</label>
			<input type="text" name="company" id="company" value="{{ form.company }}" />
			<label for="expiry">Expiration (days):</label>
			<input name="expiry" id="expiry" type="text" value="{{ form.expiry }}" />
			<label for="password">Password (only fill to reset):</label>
			<input name="password" id="password" type="text" value="" />
			<br class="clearboth" />
			<a id="searchButton">
				<span id="testBorder"></span><input id="submitButton" value="Update account" type="submit" />
			</a>
			<br class="clearboth" />
		</form>
		<p {% if success==False %}class="error"{% endif %}>{{ message }}</p>
	</div>
</div>
{% endblock %}