{% extends "wikidatabase.html" %}
{% block body %}
<div id="static">
	<div id="searchtitle" class="darkgreen">
		<div class="wrap">
			<h2>Update a User</h2>
		</div>
	</div>
	<div class="wrap">
		<div class="miniwrap bluebox lightblueborder">
                <p>{{ message }}</p>
                <form method="POST" id="updateform">
                    <div>
                            <label
                                for="name">Name:</label>&nbsp;<input
                            type="text"
                            name="name" id="name"
                            value="{{ form.name }}"
                            size="40" />
                    </div>
                    <div>
                            <label
                                for="email">Email:</label>&nbsp;<input
                            type="hidden" id="email"
                            name="email" value="{{ form.email }}" />
                            {{ form.email }}
                    </div>
                    <div>
                            <label
                                for="country">Country:</label>&nbsp;<input
                            type="text"
                            id="country" value="{{ form.country }}"
                            name="country" size="40" />
                    </div>
                    <div>
                            <label for="company">Company
                                (optional):</label>&nbsp;<input
                            type="text"
                            id="company" value="{{ form.company }}"
                            name="company" size="40" />
                    </div>
                    <div>
                        <label for="tier">Tier:</label>&nbsp;<input
                        type="text" id="tier" name="tier"
                        value="{{ form.tier }}" size="6" />
                    </div>
                    <div>
                        <label for="expiry">Expiration (days):</label>&nbsp;<input
                        name="expiry" type="text" value="{{ form.expiry }}"
                        size="3" />
                    </div>
                    <div>
                        <label for="password">Password (only fill to
                            reset):</label>&nbsp;<input
                        name="password" type="text" value=""
                        size="10" />
                    </div>
                    <div>
                            <input type="submit" id="submit"
                            class="darkgreen lightborder whitetext
                            caps margintop" value="Update account" />
                    </div>
				</form>
            </div>
        </div>
    </div>
{% endblock %}
