{% set usersign = commonVars.usersign -%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>wiki-data.com, sponsored by Avox</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/j-base.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/grid.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/stickyfooter.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/stepcarousel.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:light,lightitalic,regular,italic,500,500italic,bold,bolditalic' rel='stylesheet' type='text/css' />
		<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" href="/static/css/ie6.css" />
		<![endif]-->
		<script type="text/javascript">
			document.documentElement.className = "js";
		</script>
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<h1 id="logo">Wiki-Data beta</h1>
				<ul class="left">
					<li>
						<a href="/">Search <span>for a record</span></a>
					</li>
					<li>
						<a href="/pages/about.html">About <span>Wiki-Data</span></a>
					</li>
					<li>
						<a href="/pages/suggest_new.html">Self-certification</a>
					</li>
					<li>
						<a href="/pages/api.html">API</a>
					</li>
					<li>
						{%- if usersign.name != "GUEST" -%}
						<a href="/logout">Logout <span>{{usersign.name}}</span></a>
							{% if "ADMIN" in usersign.roles %}
					</li>
					<li>
						<a href="/_admin/createuser">Register new account</a>
							{% endif %}
						{%- else -%}
						<a href="/challenge">Login</a>
						{% endif -%}
					</li>
				</ul>
				<p class="right marginright margintopsmall"><a href="http://avox.info" title="Avox website"><img src="/static/images/avox_logo.png" alt="Avox logo" /></a></p>
				<p class="right marginright subnav"><a href="/pages/partners">Partners</a> / <a href="/pages/terms_of_use">Terms of Use</a></p>
				<div id="fruitmachine">
					<span>Currently searching through</span>
					{% include 'fruitmachine.html' %}
					<span>Avox records</span>
				</div>
			</div>
			<div class="jbasewrap" id="content">
{% block body %}
{% endblock %}
				<br class="clearboth" />
	            <div class="push"></div>
			</div><!-- #content -->
		</div><!-- #wrapper -->
		<div class="footer">
			<div class="jbasewrap">
				<div class="margintop">
		            <img src="/static/images/wiki-data-logo.png" alt="Wiki-Data logo" />
		            <p class="grid3col">An open, extensible, linkable repository of company information.</p>
		        </div>
	            <div>
	            	<div class="left grid3col marginright">
		            	<a href="http://avox.info" title="Avox website"><img src="/static/images/avox_logo.png" alt="Avox - a DTCC company" /></a>
		            	<p>&copy;&nbsp;<a href="http://avox.info" target="_blank">Avox</a> All Rights Reserved</p>
	            	</div>
	            	<div class="left grid3col marginright">
		            	<h4>About</h4>
		            	<ul>
		            		<li><a href="/pages/about.html">Wiki-Data</a></li>
		            		<li><a href="/pages/about.html#philosophy">Philosophy</a></li>
		            		<li><a href="/pages/about.html#feedback">Feedback from our community</a></li>
		            		<li><a href="/pages/about.html#avox">Avox Limited</a></li>
		            	</ul>
	            	</div>
	            	<div class="left grid3col marginright">
		            	<h4>Information</h4>
		            	<ul>
		            		<li><a href="/pages/api.html">API</a></li>
		            		<li><a href="/pages/partners">Partners</a></li>
							<li><a href="http://wikidata.uservoice.com">New Ideas</a></li>
							<li><a href="/pages/terms_of_use">Terms of Use</a></li>
		            	</ul>
		            </div>
		            <div class="left grid3col">
		            	<h4>Contact</h4>
			            <ul>
			            	<li><a href="mailto:wiki-data@avox.info">Email Us</a></li>
				            <li><a href="mailto:support@wiki-data.com">Found a Bug?</a></li>
				            <li><a href="http://avox.info">Avox Website</a></li>
				            {%- if usersign.name != "GUEST" -%}
							<li><a href="/logout">Logout <span>{{usersign.name}}</span></a></li>
							{%- else -%}
							<li><a href="/challenge">Login</a></li>
							{% endif -%}
			            </ul>
		            </div>
	            </div>
			</div>
        </div>
		<script type="text/javascript" src="/lib/fields.js"></script>
		<script type="text/javascript" src="http://api.recaptcha.net/js/recaptcha_ajax.js"></script>
		<script type="text/javascript" src="/static/js/agg.js"></script>
	</body>
</html>